<div>
  <form action="/answer">
    <label for="fname">Question:</label><br>
    <input type="text" id="question" name="question" placeholder="Type question here"><br>
    <input type="submit" value="Submit">
  </form>
</div>
